body {
    margin: 0;
    overflow: hidden;
    background: black;
    cursor: url('/assets/img/cursor.jpeg'), auto;
}

canvas {
    display: block;
    background: url('/assets/img/fondo.png') no-repeat center center/cover;
}

h3, p {
    color: white;
}