body {
    margin: 0;
    overflow: hidden;
    background: black;
    cursor: url("../assets/cursor.png"), auto;
}

canvas {
    display: block;
    background: url("../assets/bg.jpg") no-repeat center center;
    background-size: cover;
}

.score {
    position: absolute;
    top: 80px;
    left: 20px;
    background: rgba(0,0,0,0.6);
    padding: 15px;
    border-radius: 10px;
}